{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Network Treasure Hunt by PICT IEEE Student Board">
  <meta name="author" content="NTH">
  <title>Network Treasure Hunt</title>
  <!-- Favicon -->
  <link href="{% static 'assets/img/brand/nth_logo.png' %}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'assets/css/argon.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
  <style>
    table
    {

      border-collapse: separate;
      border-spacing: 20px;

    }
    @keyframes translate-up
    {
      from {margin-top: 200px;}
      to {margin-bottom: 200px;}
    }

    @keyframes translate-down
    {
      from {margin-bottom: 200px;}
      to {margin-top: 200px;}
    }

    .translate-up-animation
    {
      animation-name: translate-up;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    .translate-down-animation
    {
      animation-name: translate-down;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @media screen and (max-width: 768px) {
        .web {
            display: none;
        }
        .mob {
            display: block;
        }
        .level_name {
            margin-top: 70px !important;
        }
    }

    @media screen and (min-width: 768px) {
        .web {
            display: block;
        }
        .mob {
            display: none;
        }
    }

    @media screen and (max-width: 620px) {
        .center-on-mob {
            text-align: center;
        }
        .justify-on-mob {
            text-align: justify;
        }
        .event-name {
            font-size: 36px;
        }
        .content-wrap section p {
            margin: 0;
            padding: 0.75em 0;
            font-size: 1.2em;
            line-height: 1.3;
        }
        .logoh {
            display: none;
        }
        .logov {
            display: block;
        }
    }

    @media screen and (min-width: 620px) {
        .logoh {
            display: block;
        }
        .logov {
            display: none;
        }
    }
  </style>
</head>

<body id="home">
  <header class="header-global">
    <!-- Navbar Start -->
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom fixed-top bg-default" style="position: fixed;">
      <div class="container">
        <button class="navbar-toggler mr-rg-auto" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li>
              <a href="#register" class="nav-link" role="button"> <!--Registration Link-->
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text" style="font-size: 20px;">Register</span>
              </a>
            </li>
            <li>
              <a href="#about_us" class="nav-link" role="button"> <!--About Us Link-->
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text" style="font-size: large;">About Us</span>
              </a>
            </li>
            <li>
              <a href="#contact_us" class="nav-link" role="button"> <!--Contact Us Link-->
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text" style="font-size: large;">Contact Us</span>
              </a>
            </li>

            <li>
              <a data-toggle="modal" data-target="#leaderboard" class="nav-link" role="button" href="">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text" style="font-size: large;">Leaderboard</span>
              </a>
            </li>          

         </ul>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.facebook.com/NTHCredenz/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                <i class="fa fa-facebook-square" style="scale: 2;"></i>
                <span class="nav-link-inner--text d-lg-none">&nbsp Facebook</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.instagram.com/_nth2019" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                <i class="fa fa-instagram" style="scale: 2;"></i>
                <span class="nav-link-inner--text d-lg-none">&nbsp Instagram</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://twitter.com/NthCredenz" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                <i class="fa fa-twitter-square" style="scale: 2;"></i>
                <span class="nav-link-inner--text d-lg-none">&nbsp Twitter</span>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ml-lg-auto">
            <img src="{% static 'assets/img/brand/ctd_logo.png' %}" height="75px" width="150px" alt="CTD Logo">
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    <!-- Leaderboard Modal Start -->
    <div class="modal fade" id="leaderboard" tabindex="-1" role="dialog" aria-labelledby="leaderboardModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="leaderboardModalLabel">Leaderboard</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="text-align: center;">
            <!-- Leaderboard Code -->
            <table border="0" align="center">
              <thead style="font-size: 20px;color: #32325d;"><td>Rank</td><td>Player</td><td style="padding-left: 30px;">Level</td></thead>
              {% for p in leaderboard %}
              <tr><td></td><td>{{ p.user.username }}</td><td style="padding-left: 30px;">{{ p.level }}</td></tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Leaderboard Modal End -->
  </header>
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span class="translate-up-animation"></span>
        <span class="translate-down-animation" style="left: 20%;"></span>
        <span class="translate-up-animation"></span>
        <span class="translate-down-animation"></span>
        <span class="translate-up-animation"></span>
        <span class="translate-down-animation"></span>
        <span class="translate-up-animation"></span>
        <span class="translate-down-animation"></span>
        <span class="translate-up-animation"></span>
        <span class="translate-down-animation"></span>
      </div>
      <!-- NTH home start -->
      <div style="text-align: center; padding-top: 20px;padding-bottom: 200px;">
        <!-- Web View -->
        <img class="web" src="{% static 'assets/img/brand/nth_logo.png' %}" height="500px" width="500px" alt="NTH Logo" style="margin-left: auto;margin-right: auto;"> <!-- NTH Logo -->
        <!-- Mob View -->
        <img class="mob" src="{% static 'assets/img/brand/nth_logo.png' %}" height="300px" width="300px" alt="NTH Logo" style="margin-left: auto;margin-right: auto;"> <!-- NTH Logo -->
        <p style="font-size: x-large;color: whitesmoke;">Network Treasure Hunt</p>
        <p style="font-size: large;color: whitesmoke;">Decrypt the Encrypted!</p>
        <p id="timer" style="font-family: 'Aldrich';color: whitesmoke;font-size: 40px;"></p>
      </div>
      <!-- NTH home end -->
      <!-- Registration Start -->
      <div class="container pt-lg-md" id="register" style="text-align: center; padding-top: 50px;padding-bottom: 50px;">
          <div class="row justify-content-center">
            <div class="text-center text-muted mb-4" style="font-size: 28px;">
              <u>Register</u>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col" style="padding: 20px;">
              <div class="web">
                <div class="card bg-secondary shadow border-0" style="padding-top: 50px;height: 800px;">
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4" style="font-size:x-large;">
                      Just one step away from the enthralling experience of online hunting!
                    </div>
                    <br>
                    <div class="text-center text-muted mb-4">
                      <u style="font-size:xx-large;">Instructions</u><br>
                      <ul style="font-size:large;text-align: left;line-height: 30px;">
                        <li>Please make sure all the fields entered are correct.</li>
                        <li>Certificate will be given to you in the name specified in your registration.</li>
                        <li>Top 10 participants will be sent a certificate at the email address specified in their registration.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mob">
                <div class="card bg-secondary shadow border-0" style="padding-top: 50px;height: 650px;">
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4" style="font-size:x-large;">
                      Just one step away from the enthralling experience of online hunting!
                    </div>
                    <br>
                    <div class="text-center text-muted mb-4">
                      <u style="font-size:xx-large;">Instructions</u><br>
                      <ul style="font-size:large;text-align: left;line-height: 30px;">
                        <li>Please make sure all the fields entered are correct.</li>
                        <li>Certificate will be given to you in the name specified in your registration.</li>
                        <li>Top 10 participants will be sent a certificate at the email address specified in their registration.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" style="padding: 20px;">
              <div class="card bg-secondary shadow border-0" style="height: 800px;padding-top: 20px;">
                <div class="card-body px-lg-5 py-lg-5">
                  <form action="{% url 'nth:Home' %}" method="POST"> <!-- Create Player View -->
                    {% csrf_token %}
                    {% for message in messages %}
                      <font color="#525f7f" face="consolas">
                        {{ message }} <br>
                      </font>
                    {% endfor %}
                    <div class="form-group">
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                        </div>
                        <input name="first_name" class="form-control" placeholder="First Name" type="text" style="color: #525f7f " maxlength="20" required>
                      </div>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                        </div>
                        <input name="last_name" class="form-control" placeholder="Last Name" type="text" style="color: #525f7f " maxlength="20" required>
                      </div>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                        </div>
                        <input name="mobile_number" class="form-control" placeholder="Mobile Number" style="color: #525f7f " type="tel" pattern="[1-9]+[0-9]{9}" maxlength="20" required>
                      </div>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                        </div>
                        <input name="username" class="form-control" placeholder="Username" style="color: #525f7f " type="text" maxlength="20" required>
                      </div>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input name="password" class="form-control" placeholder="Password" type="password" style="color: #525f7f " maxlength="25" onchange="if(this.checkValidity()) form.password_confirm.pattern = this.value;" required>
                      </div>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input name="password_confirm" class="form-control" placeholder="Re-enter Password" type="password" style="color: #525f7f " maxlength="25" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" required>
                      </div>
                    </div>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email" type="email" style="color: #525f7f " maxlength="40" required>
                      </div>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input name="college" class="form-control" placeholder="College" type="text" style="color: #525f7f " maxlength="50" required>
                      </div>
                      <script src='https://www.google.com/recaptcha/api.js'></script>
                      <div class="g-recaptcha" data-sitekey="6Lc7FNYUAAAAAMbdFqonSEyZ3bPopXRYilSXiONh"></div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary mt-4" style="height: 60px; padding-top: 12px;">Create account</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- Registration End -->
      <!-- About Us Start -->
      <div class="container pt-lg-md" id="about_us" style="text-align: center; padding-top: 50px;padding-bottom: 50px;">
          <div class="text-center text-muted mb-4" style="font-size: 28px;">
            <u>About Us</u>
          </div>
          <div class="row justify-content-left">
            <div class="col-rg" style="width: 350px;">
              <img src="{% static 'assets/img/brand/nth_logo.png' %}" height="400px" width="400px" alt="NTH Logo">
            </div>
            <div class="col-lg">
              <div class="text-center text-muted mb-4">
                <p style="font-size: 22px;text-align: justify;">
                  Network Treasure Hunt is an online Treasure Hunt played across the globe. Read between the lines, find the hidden clues and connect the dots. You can use every tool at your disposal. Even with Google and Wikipedia by your side, it's going to be fun and challenging.
                </p>
                <p style="font-size: 22px;text-align: justify;">
                  Exert yourself to keep your name on the top and reach the ultimate level to win exciting prizes. The beginning of an enthraling adventure awaits you. A journey which guarantees to leave you with a thirst for more.
                </p>
                <p style="font-size: 22px;text-align: justify;">
                  Bring out the Sherlock in you as The Game Is On!
                </p>
              </div>
            </div>
          </div>
      </div>
      <!-- About Us End -->
      <!-- Contact Us Start -->
      <div class="container pt-lg-md" id="contact_us" style="text-align: center; padding-top: 50px;padding-bottom: 50px;">
          <div class="text-center text-muted mb-4" style="font-size: 28px;">
            <u>Contact Us</u>
          </div>
          <div class="row justify-content-center">
            <div class="col-rg-5" style="padding: 20px;">
              <div class="card shadow border-0" style="background-color: rgba(82,95,127,0.5);height: 350px;width: 250px;text-align: center;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: 20px;">
                <img src="{% static 'assets/img/nth_team/shubham.jpg' %}" height="200px" width="200px" style="border-radius: 50%;"><br>
                <p style="color: #dee2e6;font-size: 20px;line-height: 30px;">Shubham Chorage</p>
                <i class="ni ni-mobile-button" style="color: #dee2e6; font-size: 18px;">+91-9657979483</i>
              </div>
            </div>
            <div class="col-rg-5" style="padding: 20px;">
              <div class="card shadow border-0" style="background-color: rgba(82,95,127,0.5);height: 350px;width: 250px;text-align: center;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: 20px;">
                <img src="{% static 'assets/img/nth_team/prajwal.jpg' %}" height="200px" width="200px" style="border-radius: 50%;"><br>
                <p style="color: #dee2e6;font-size: 20px;line-height: 30px;">Prajwal Patankar</p>
                <i class="ni ni-mobile-button" style="color: #dee2e6; font-size: 18px;">+91-8888726344</i>
              </div>
            </div>
          </div>
          <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-rg-5" style="padding: 20px;">
              <div class="card shadow border-0" style="background-color: rgba(82,95,127,0.5);height: 350px;width: 250px;text-align: center;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: 20px;">
                <img src="{% static 'assets/img/nth_team/krisha.jpg' %}" height="200px" width="200px" style="border-radius: 50%;"><br>
                <p style="color: #dee2e6;font-size: 20px;line-height: 30px;">Krisha Bhambani</p>
                <i class="ni ni-mobile-button" style="color: #dee2e6; font-size: 18px;">+91-9923635154</i>
              </div>
            </div>
            <div class="col-rg-5" style="padding: 20px;">
              <div class="card shadow border-0" style="background-color: rgba(82,95,127,0.5);height: 350px;width: 250px;text-align: center;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: 20px;">
                <img src="{% static 'assets/img/nth_team/garvita.jpg' %}" height="200px" width="200px" style="border-radius: 50%;"><br>
                <p style="color: #dee2e6;font-size: 20px;line-height: 30px;">Garvita Jain</p>
                <i class="ni ni-mobile-button" style="color: #dee2e6; font-size: 18px;">+91-8989553238</i>
              </div>
            </div>
            <div class="col-rg-5" style="padding: 20px;">
              <div class="card shadow border-0" style="background-color: rgba(82,95,127,0.5);height: 350px;width: 250px;text-align: center;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;padding-top: 20px;">
                <img src="{% static 'assets/img/nth_team/monu.jpg' %}" height="200px" width="200px" style="border-radius: 50%;"><br>
                <p style="color: #dee2e6;font-size: 20px;line-height: 30px;">Anuraag Shankar</p>
                <i class="ni ni-mobile-button" style="color: #dee2e6; font-size: 18px;">+91-9545070825</i>
              </div>
            </div>
        </div>
      </div>
      <!-- Contact Us End -->
    </section>
  </main>
  <footer class="footer" style="background-color: #8898aa;">
    <div class="web">
      <div class="container">
        <div class="row">
          <div class="col" style="padding: 20px;">
            <img src="{% static 'assets/img/brand/ieee_logo.png' %}" style="scale: 0.8;">
          </div>
          <div class="col" style="color:whitesmoke; font-size: 20px; padding-top: 40px;padding-right: 40px;">
            Designed by WebTeam@PISB
          </div>
          <div class="col" style="padding: 20px;">
            <img src="{% static 'assets/img/brand/pisb_logo.png' %}" height="75px" width="225px">
          </div>
        </div>
      </div>
    </div>
    <div class="mob">
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="{% static 'assets/img/brand/ieee_logo.png' %}" height="30px" width="96px">
          </div>
          <div class="col" style="color:whitesmoke; font-size: 12px;text-align: center">
            <b>Designed by WebTeam@PISB</b>
          </div>
          <div class="col">
            <img src="{% static 'assets/img/brand/pisb_logo.png' %}" height="35px" width="110px">
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/vendor/headroom/headroom.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'assets/js/argon.js' %}"></script>
  <!-- Timer Script -->
  
  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("Mar 7, 2020 21:00:00").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="timer"
      document.getElementById("timer").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        // Showing button when timer expires
        document.getElementById("timer").innerHTML = '<a class="btn btn-primary" type="submit" href="/loginHunt/" style="height: 60px; padding-top: 17px;font-family: sans-serif;">Start Hunting!</a>';
      }
    }, 1000);
  </script>
  <script>
    var table = document.getElementsByTagName('table')[0],
    rows = table.getElementsByTagName('tr'),
    text = 'textContent' in document ? 'textContent' : 'innerText';
    console.log(text);

    for (var i = 1, len = rows.length; i < len; i++){
        rows[i].children[0][text] = i + rows[i].children[0][text];
    }
  </script>
  
</body>
</html>
